In [3]:
# import dependencies
# DATA HANDLING
import pandas as pd
import numpy as np


# CONNECTION DEPENDENCIES
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# MACHINE LEARNING
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from chow_test import chow_test

In [5]:
# SQLAlchemy Connection
engine = create_engine('postgresql://root:classroom@mypostgresdb.cavwarw7ypjm.us-west-1.rds.amazonaws.com:5432/postgres')

# DO I NEED THESE?

#Base = automap_base()
#engine.connect()
#Base.prepare(engine, reflect=True)
#Measurement = Base.classes.measurement
#Station = Base.classes.station
session = Session(engine)


#create Dataframe
df1 = pd.read_sql('SELECT * FROM job_cost_data', engine)
df1.head()

,department_number,customer_name,job_type_description,job_city,job_number,lots,complete_date,job_quantity,cost_type,segment_one,segment_two,hours_regular,hours_overtime,hours_other,committed_total,po_receivedunapproved,equip_gl,quantity_budgeted_cost,quantity_actual,unit_of_measure
0,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,19,001,0,0,0,0.00,0.0,0.0,0.0,0,NA
1,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,3,104,0,0,0,3120.70,0.0,0.0,0.0,934,NA
2,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,3,105,0,0,0,44.98,0.0,0.0,0.0,5,NA
3,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,4,105,0,0,0,3391.63,0.0,0.0,0.0,923,NA
4,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,4,106,0,0,0,607.58,0.0,0.0,371.0,96,PC

In [6]:
# check data types for columns
df1.dtypes

department_number          object
customer_name              object
job_type_description       object
job_city                   object
job_number                 object
lots                       object
complete_date              object
job_quantity              float64
cost_type                  object
segment_one                object
segment_two                object
hours_regular              object
hours_overtime             object
hours_other                object
committed_total           float64
po_receivedunapproved     float64
equip_gl                  float64
quantity_budgeted_cost     object
quantity_actual            object
unit_of_measure            object
dtype: object

In [10]:
# CONVERT DATA TYPES
df1['lots'] = df1['lots'].astype('int')
df1['hours_regular'] = df1['hours_regular'].astype('float')
df1['hours_overtime'] = df1['hours_overtime'].astype('float')
df1['hours_other'] = df1['hours_other'].astype('float')
df1['quantity_budgeted_cost'] = df1['quantity_budgeted_cost'].astype('float')
df1['quantity_actual'] = df1['quantity_actual'].astype('float')

In [11]:
df1.dtypes

department_number          object
customer_name              object
job_type_description       object
job_city                   object
job_number                 object
lots                        int32
complete_date              object
job_quantity              float64
cost_type                  object
segment_one                object
segment_two                object
hours_regular             float64
hours_overtime            float64
hours_other               float64
committed_total           float64
po_receivedunapproved     float64
equip_gl                  float64
quantity_budgeted_cost    float64
quantity_actual           float64
unit_of_measure            object
dtype: object

In [18]:
# edit the dataframe to optimize for machine learning

# calculate custom data columns

df1['total_hours'] = df1.hours_regular + df1.hours_overtime + df1.hours_other
df1['actual_cost'] = df1.committed_total + df1.po_receivedunapproved + df1.equip_gl
df1['budget_speed'] = df1.quantity_budgeted_cost / df1.total_hours
df1['actual_speed'] = df1.quantity_actual / df1.total_hours
df1['hours_per_lot'] = df1.total_hours / df1.lots
df1['speed_delta'] = df1.actual_speed / df1.budget_speed - 1
df1['abs_delta'] = df1['speed_delta'].abs()
df1['miss'] = np.where(df1['abs_delta'] >=.3, 1, 0)

# extract month and year from date
df1['month'] = pd.DatetimeIndex(df1['complete_date']).month
df1['year'] = pd.DatetimeIndex(df1['complete_date']).year


#categorize month into 'winter' and 'not winter'
# df1['winter'] = np.where((df1['month'] <=3) | (df1['month'] < 10))
# need a loop for zero and one
df1.head(10)

#get dummies for categorical variables
# df2 = pd.get_dummies(df1)

# filter for slab pour only
# dfslab = df2.loc[df2['Segment One'] == '7']

,department_number,customer_name,job_type_description,job_city,job_number,lots,complete_date,job_quantity,cost_type,segment_one,...,total_hours,actual_cost,month,year,budget_speed,actual_speed,hours_per_lot,speed_delta,abs_delta,miss
0,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,19,...,0.0,0.00,10,2016,NaN,NaN,0.0,NaN,NaN,0
1,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,3,...,0.0,3120.70,10,2016,NaN,inf,0.0,NaN,NaN,0
2,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,3,...,0.0,44.98,10,2016,NaN,inf,0.0,NaN,NaN,0
3,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,4,...,0.0,3391.63,10,2016,NaN,inf,0.0,NaN,NaN,0
4,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,4,...,0.0,607.58,10,2016,inf,inf,0.0,NaN,NaN,0
5,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,4,...,0.0,1230.85,10,2016,NaN,inf,0.0,NaN,NaN,0
6,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,4,...,0.0,0.00,10,2016,inf,NaN,0.0,NaN,NaN,0
7,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,6,...,0.0,273.05,10,2016,NaN,inf,0.0,NaN,NaN,0
8,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,6,...,0.0,1197.77,10,2016,inf,inf,0.0,NaN,NaN,0
9,6,"KDH Builders, LLC",Multi,RENO,KDES00,6,10/16/2016,5994.0,F,7,...,0.0,0.00,10,2016,NaN,NaN,0.0,NaN,NaN,0